:root {
  --primary-color: #6b2e7a;
  --secondary-color: #fff0f7;
  --text-color: #333333;

  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 2rem;

  --font-size-title: 2rem;
  --font-size-subtitle: 1.5rem;
  --font-size-body: 1.2rem;
  --font-size-small: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--primary-color);
}

h1 {
  margin-top: var(--space-large);
  font-size: var(--font-size-title);
}

h2 {
  font-size: var(--font-size-subtitle);
}

#eslogan {
  padding: var(--space-small);
  text-align: center;
}
#eslogan span {
  text-decoration: underline;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

p {
  margin: 0;
  padding: 0;
}

header {
  height: 100vh;
  padding: var(--space-small) var(--space-medium);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 70%;
  height: auto;
  object-fit: cover;
}

header nav {
  width: 100%;
  background-color: var(--secondary-color);
}

header nav ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-large);
}

header nav ul li {
  font-size: var(--font-size-body);
  font-weight: bold;
}

main {
  padding: var(--space-large) var(--space-medium);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  width: 100%;
}

main h2 {
  margin-top: var(--space-large);
  margin-bottom: var(--space-large);
}
main p {
  line-height: 1.6;
  font-size: var(--font-size-body);
  text-align: justify;
}

#inicio p {
  padding: 0 var(--space-large);
}

#productoContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-medium);
}

.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-medium);
  padding: var(--space-medium) var(--space-large);
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  background-color: #fff;
  text-align: justify;
}

.producto h3 {
  text-align: center;
  font-size: var(--font-size-subtitle);
}

.producto figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-medium);
}
.producto img {
  width: 70%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
}

.producto p {
  margin-top: var(--space-medium);
}

.precio {
  font-size: var(--font-size-body);
  font-weight: bold;
  color: var(--primary-color);
}

#elegirnos {
  width: 100%;
}

#elegirnos ul {
  display: flex;
  width: 100%;
  padding: var(--space-medium);
  flex-direction: column;
  align-items: center;
  gap: var(--space-medium);
}
#elegirnos li {
  list-style: disc;
  font-size: var(--font-size-body);
  width: 80%;
  text-align: justify;
}

#sobreNosotros p {
  padding: 0 var(--space-large);
}

#formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-large);
  max-width: 400px;
  margin: 0 auto;
}

#formulario .campo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-body);
  font-weight: bold;
  text-align: center;
  gap: var(--space-small);
}

.campo input {
  width: 70vw;
  height: var(--space-large);
}

form > button {
  width: 50%;
  padding: var(--space-small);
  font-size: var(--font-size-body);
  font-weight: bold;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
}

footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: var(--font-size-small);
  text-align: center;
  padding: var(--space-small);
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* MediaQueries */

@media (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.4rem;
  }
  a {
    font-size: 2.5rem;
  }

  header img {
    max-width: 500px;
    height: auto;
  }

  nav a:hover {
    box-shadow: 2px 4px 5px var(--primary-color);
    font-size: 2.6rem;
  }
  nav a {
    transition: 0.3s;
  }

  main p {
    font-size: 2.4rem;
  }

  #eslogan {
    font-size: 2.4rem;
  }

  #inicio {
    margin-top: 300px;
  }

  #productoContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
  }
  .producto {
    justify-content: space-between;
    width: 40%;
  }

  .producto figure img {
    width: 100%;
    height: 240px;
    object-fit: cover;
  }
  .producto p {
    font-size: 2rem;
  }

  .producto h3 {
    font-size: 2.4rem;
  }
  .precio {
    font-size: 2.4rem;
  }
  .producto:hover {
    box-shadow: 2px 4px 5px var(--primary-color);
    transform: scale(1.05);
  }
  .producto {
    transition: 0.3s;
  }

  #elegirnos li {
    font-size: 2.4rem;
  }

  #formulario .campo {
    font-size: 2.4rem;
    gap: 40px;
    margin-bottom: 60px;
  }
  .campo input {
    width: 50vw;
    height: 3rem;
    font-size: 2.4rem;
  }

  .campo select {
    width: 50vw;
    height: 3rem;
    font-size: 2.4rem;
  }
  .campo textarea {
    width: 50vw;
    height: 6rem;
    font-size: 2.4rem;
  }
  form > button {
    font-size: 2.4rem;
    padding: 1rem;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main {
    width: 80%;
  }

  h2 {
    font-size: 2.4rem;
  }
  section > p {
    font-size: 2.4rem;
  }

  header {
    height: 80vh;
  }
  header img {
    max-width: 300px;
    height: auto;
  }
  header nav ul {
    flex-direction: row;
    justify-content: center;
    gap: var(--space-large);
  }
  nav a:hover {
    box-shadow: 2px 4px 5px var(--primary-color);
  }
  nav a {
    transition: 0.3s;
  }
  header a {
    font-size: 2rem;
  }

  section p,
  #elegirnos li {
    font-size: 1.8rem;
  }

  #productoContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
  }
  .producto {
    justify-content: space-between;
    height: auto;
    width: 240px;
  }

  .producto figure img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  .producto p {
    font-size: 1rem;
  }

  .producto h3 {
    font-size: var(--font-size-body);
  }
  .precio {
    font-size: 2rem;
  }

  #formulario input {
    font-size: 1rem;
    height: 2.5rem;
    width: 40vw;
  }
  #formulario .campo {
    font-size: 1rem;
    gap: 20px;
    margin-bottom: 40px;
  }
  #formulario select {
    font-size: 1rem;
    height: 2.5rem;
    width: 40vw;
  }
  #formulario textarea {
    width: 40vw;
    height: 5rem;
    font-size: 1rem;
  }
  #formulario button {
    font-size: 1rem;
    padding: 0.5rem;
    width: 80%;
    margin-bottom: 40px;
  }
}
