* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
}



header, footer {
    padding: 20px;
    text-align: center;  
    background-color: #87ceeb;
    color: white;
    border-radius: 10px;

}

main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

h3 {
    color: #555;
    font-size: 90px;
}

h4 {
    color: #777;
    font-size: 40px;
}